<div class="row">
  <div class="small-12 columns">
    <h1>Diffusez des messages <br>à l'ensemble de vos parents d'élèves.</h1>
  </div>
</div>

<div id="call-to-action">
  <div class="row">
    <div class="small-12 columns">
      <%= link_to new_user_registration_path, class: 'button large' do %>
        <strong>Vous êtes instit' ?</strong> Inscrivez-vous.
      <% end %>
    </div>
  </div>
</div>

<div class="row benefits">
  <div class="small-12 medium-4 columns benefit">
    <i class="icon icon-plus"></i>
    <h5>Créez vos classes</h5>
    <hr>
    <p>CP, CE1, CE2, ...</p>
  </div>
  <div class="small-12 medium-4 columns benefit">
    <i class="icon icon-user-follow"></i>
    <h5>Inscrivez vos parents d'élèves</h5>
    <hr>
    <p>Vous pouvez ajouter pour chaque classe les numéros des parents des élèves.</p>
  </div>
  <div class="small-12 medium-4 columns benefit">
    <i class="icon icon-paper-plane"></i>
    <h5>Envoyez des messages SMS</h5>
    <hr>
    <p>Envoyez en un clic pour tous les parents d'évlèves d'une classe, un message délivré instantanément par SMS.</p>
  </div>
</div>
