<div class="row">
  <div class="small-12 columns">

    <h4>Bonjour <%= current_user.name %></h4>

    <p>Pour démarrer, créez votre première classe.</p>
    <p>Le nom de classe peut être ce que vous souhaitez. Ne vous inquiétez pas, vous pourrez en rajouter d'autres plus tard.</p>

    <%= simple_form_for @group do |f| %>
      <%= f.input :class_name, label: 'Nom de la classe' %>
      <%= f.button :submit, 'Ajouter cette classe' %>
    <% end %>
  </div>
</div>
