@import 'modular-scale';
@import 'normalize';
@import 'foundation_and_overrides';
@import 'icons';

@import 'groups';
@import 'subscribers';
@import 'messages';

a[data-method=delete] {
  color: $alert-color;
}

#container {
  padding-top: $topbar-height * $golden;
  padding-bottom: rem-calc(30);
}

.blankslate {
  text-align: center;
  color: #aaa;
  i {
    font-size: rem-calc(50);
  }
}
