#show-group {
  .tabs-content.vertical {
    background: #fff;
    padding-top: $column-gutter;
    padding-bottom: $column-gutter;
    padding-right: $column-gutter / 2;
    border-radius: $global-radius;
  }

  .tab-title {
    border-bottom: 1px solid $tabs-navigation-hover-bg-color;
    a.group-settings {
      display: none;
    }
  }

  .tab-title.active {
    background-color: #fff;
    a {
      border-radius: $global-radius;
      border-top-right-radius: none;
      border-bottom-right-radius: none;
      display: inline-block;

      &.group-settings {
        float:right;
        padding: rem-calc(16);
        color: #aaa;
      }
    }
  }

  .tab-title#new-group-link {
    border-bottom: none;
    > a {
      background: transparent;
      color: $primary-color;
      font-weight: 600;
      text-transform: uppercase;
      font-size: rem-calc(12);
      letter-spacing: .075em;
    }
  }
}
