#new-message {
  margin-bottom: $column-gutter;
  textarea {
    height: rem-calc(100);
    resize: none;
  }
}

#sent-messages {
  .blankslate {
    padding: $panel-padding;
  }
}

.message {
  time {
    font-size: rem-calc(13);
    color: #aaa;
  }
}
